<div class="row"><div class="col-md-3"></div>
  <div class="col-md-6">
    <h1><%= current_user.name || current_user.email %>'s Task List</h1>
      <div id="billboard">
        <table class="table">
          <thead>
            <tr>
              <th>Task</th>
              <th>Days Remaining</th>
               <th>Manage</th>
            </tr>
          </thead>

          <tbody>            
              <%= render @incomplete_todos %>            
            <tr><td class="tdcount" colspan=3> You have <%= @incomplete_todos.count %> open tasks.</td></tr>
          </tbody>
        </table>
      </div>
  </div><div class="col-md-3"></div>
</div>

<div class="row"><div class="col-md-4"></div>
  <div class="col-md-4">
  <%= render 'form' %>
  </div><div class="col-md-4"></div>
</div>

<div class="row"><div class="col-md-3"></div>
  <div class="col-md-6">
    <h1><%= current_user.name || current_user.email %>'s Completed Tasks</h1>
      <div id="billboard", style="background-color: #C2986B">
        <table class="table">
          <thead>
            <tr>
              <th>Task</th>
              <th>Days Remaining</th>
               <th>Manage</th>
            </tr>
          </thead>
          <tbody>            
            <%= render @completed_todos %>            
            <tr><td class="tdcount" colspan=3> You have <%= @completed_todos.count %> completed tasks.</td></tr>
          </tbody>
        </table>
      </div>
  </div><div class="col-md-3"></div>
</div>
